{% extends "base.html.twig" %}

{% block title %} Movies {% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="public/css/library/dataTables/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="public/css/library/dataTables/dataTables.min.css" />
    <link rel="stylesheet" href="public/css/src/movies.css" />
{% endblock %}

{% block body %}
    <section class="section">
        {% include 'movies/header.html.twig'%}
        {% include 'movies/table.html.twig'%}
        {% include 'movies/form.html.twig'%}
    </section>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="public/js/library/dataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="public/js/library/dataTables/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="public/js/library/dataTables/dataTables.min.js"></script>
    <script type="text/javascript" src="public/js/src/pages/Movies.js"></script>
{% endblock %}