{% extends "base.html.twig" %}

{% block title %} error {% endblock %}

{% block stylesheet %}
{% endblock %}

{% block body %}
    <section class="section">
            <h1 class="text-center" style="color:white; padding-top:50px">Page {{code}}</h1>
            <h2 class="text-center" style="color:white; padding-bottom:400px">{{message}}</h2>
    </section>
{% endblock %}

{% block javascript %}
{% endblock %}