{% extends "base.html.twig" %}

{% block title %} Cats {% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="public/library/dataTables/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="public/library/dataTables/dataTables.min.css" />
{% endblock %}

{% block body %}
    <section class="section-cats">
        {% include 'cats/header.html.twig'%}
        {% include 'cats/table.html.twig'%}
        {% include 'cats/form.html.twig'%}
    </section>
{% endblock %}

{% block javascript %}
   <script type="text/javascript" src="public/library/dataTables/jquery.dataTables.min.js"></script>
   <script type="text/javascript" src="public/library/dataTables/dataTables.bootstrap4.min.js"></script>
   <script type="text/javascript" src="public/library/dataTables/dataTables.min.js"></script>
{% endblock %}