<!DOCTYPE HTML>
<html>
	<head>
		<title>Rookie - {% block title %}{% endblock %}</title>
		<link rel="icon" type="image/svg" href="public/assets/svg/logo.svg">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="public/library/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="public/css/globals/globals.css" />
		<link rel="stylesheet" href="public/css/globals/footer.css" />
		<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
		integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
		{% block stylesheet %}
		{% endblock %}
	</head>
	<body>
		<div class="demo-page">
			{% include 'shared/navbar.html.twig' %}
			{% block body %}
			{% endblock %}
			{% include 'shared/footer.html.twig' %}
			<script src="public/library/systemjs/system.min.js"></script>
			<script src="public/library/systemjs/system.imports.min.js"></script>
			<script src="public/library/jquery/jquery.min.js"></script>
			<script src="public/library/bootstrap/bootstrap.min.js"></script>
			{% block javascript %}
			{% endblock %}
		</div>
	</body>
</html>