<footer>
    <div class="ftr-content">
        <div>
            <a href="https://infinity-dev.fr/"><img src="public/assets/svg/logo.svg" style="width: 100px" alt="infinity-dev"/></a>
        </div>    
        <div class="ftr-links">
            <div class="ftr-link"><a href="https://github.com/cyril-vassallo/Rookie">Github</a></div>
            <div class="ftr-link"><a href="https://fr.wikipedia.org/wiki/Open_source">Open Source Code</a></div>
        </div>    
        <div>
            <a href="https://www.youtube.com/channel/UCvg4OyFMC2xuQ0JaQurOMNQ/videos"><i class="fab fa-youtube" style="font-size:36px; color: white;margin:10px"></i></a>
            <a href="https://www.linkedin.com/in/cyril-vassallo"><i class="fab fa-linkedin-in" style="font-size:36px; color: white;margin:10px"></i></a>
        </div>
    </div>
</footer>